# Challenge 2 - ANOVA

In statistics, **Analysis of Variance (ANOVA)** is also used to analyze the differences among group means. The difference between t-test and ANOVA is the former is ued to compare two groups whereas the latter is used to compare three or more groups. [Read more about the difference between t-test and ANOVA](http://b.link/anova24).

From the ANOVA test, you receive two numbers. The first number is called the **F-value** which indicates whether your null-hypothesis can be rejected. The critical F-value that rejects the null-hypothesis varies according to the number of total subjects and the number of subject groups in your experiment. In [this table](http://b.link/eda14) you can find the critical values of the F distribution. **If you are confused by the massive F-distribution table, don't worry. Skip F-value for now and study it at a later time. In this challenge you only need to look at the p-value.**

The p-value is another number yielded by ANOVA which already takes the number of total subjects and the number of experiment groups into consideration. **Typically if your p-value is less than 0.05, you can declare the null-hypothesis is rejected.**

In this challenge, we want to understand whether there are significant differences among various types of pokemons' `Total` value, i.e. Grass vs Poison vs Fire vs Dragon... There are many types of pokemons which makes it a perfect use case for ANOVA.

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [3]:
pokemon = pd.read_csv("/content/Pokemon.csv")
pokemon.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

**To achieve our goal, we use three steps:**

1. **Extract the unique values of the pokemon types.**

1. **Select dataframes for each unique pokemon type.**

1. **Conduct ANOVA analysis across the pokemon types.**

#### First let's obtain the unique values of the pokemon types. These values should be extracted from Type 1 and Type 2 aggregated. Assign the unique values to a variable called `unique_types`.

*Hint: the correct number of unique types is 19 including `NaN`. You can disregard `NaN` in next step.*

In [4]:
# 1. Extract the unique values of the pokemon types
type_1 = (pokemon["Type 1"].unique())
type_2 = (pokemon["Type 2"].dropna().unique())
# have to get the repeted out, right? ... gasps. Set probably

unique_types = set(type_1) and set(type_2)
len(unique_types) # funny how i didn't read everything so now I see why no 19 unique types. Zero comments :D too frustrated!! ahahaha

18

#### Second we will create a list named `pokemon_totals` to contain the `Total` values of each unique type of pokemons.

Why we use a list instead of a dictionary to store the pokemon `Total`? It's because ANOVA only tells us whether there is a significant difference of the group means but does not tell which group(s) are significantly different. Therefore, we don't need know which `Total` belongs to which pokemon type.

*Hints:*

* Loop through `unique_types` and append the selected type's `Total` to `pokemon_groups`.
* Skip the `NaN` value in `unique_types`. `NaN` is a `float` variable which you can find out by using `type()`. The valid pokemon type values are all of the `str` type.
* At the end, the length of your `pokemon_totals` should be 18.

In [ ]:
type_1 = (pokemon["Type 1"].unique())
type_2 = (pokemon["Type 2"].dropna().unique())
# have to get the repeted out, right? ... gasps. Using sets, probably

unique_types = set(type_1) and set(type_2)

In [5]:
# 2. Select dataframes for each unique pokemon type
# Dear TA, I shall not have credit on this cell exercise, I just wanted to reach the part to use ANOVA.
# Totally understand wat needed to be done, but I wasn't reaching. Sorry

pokemon_totals = []

for p_type in unique_types:
  type_totals = pokemon[(pokemon["Type 1"] == p_type) | (pokemon["Type 2"] == p_type)]["Total"]
  pokemon_totals.append(type_totals)

# Print the length of pokemon_totals
print(len(pokemon_totals))

18

#### Now we run ANOVA test on `pokemon_totals`.

*Hints:*

* To conduct ANOVA, you can use `scipy.stats.f_oneway()`. Here's the [reference](http://b.link/scipy44).

* What if `f_oneway` throws an error because it does not accept `pokemon_totals` as a list? The trick is to add a `*` in front of `pokemon_totals`, e.g. `stats.f_oneway(*pokemon_groups)`. This trick breaks the list and supplies each list item as a parameter for `f_oneway`.

In [ ]:
# 3.
p_value = st.f_oneway(*pokemon_totals)[1]
p_value

2.64574588159833e-15

#### Interpret the ANOVA test result. Is the difference significant?

In [ ]:
# H0: mu a = mu b
# H1: mu a != mu b

if p_value > 0.05:
  print("I can not reject the null hypothesis")
else:
  print("We can reject the null hypothesis")

# so if p is low, the null has to go: we can reject H0 that states there are not significant differences among various types of pokemons.

We can reject the null hypothesis