# Challenge 1 - T-test

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_re`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

#### Import dataset

In this challenge we will work on the Pokemon dataset. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.).

In [10]:
#Your code here:
pokemon = pd.read_csv('Pokemon.csv')
display(pokemon)
pokemon['Types'] = pokemon['Type 2']
pokemon['Types']=pokemon['Types'].fillna(1)
pokemon['Types']=np.where(pokemon['Types'] != 1 , 2, pokemon['Types'])
pokemon['Legendary']=np.where(pokemon['Legendary'] == True , 1, 0)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Types
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,0,2
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,0,2
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,0,2
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,0,2
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,1,2
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,1,2
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,1,2
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,1,2
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,1,2

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [22]:
results = {}
def t_test_features(s1,filter_value, filter_value2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    for skill in features:
        sample = pokemon[pokemon[s1]==filter_value][skill].sample(30)
        sample2 = pokemon[pokemon[s1]==filter_value2][skill].sample(30)
        results[skill] = st.ttest_rel(sample, sample2).pvalue

    # Your code here
    
    return results

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [28]:
t_test_features('Legendary', 1, 0)

{'HP': 0.000293459409323781,
 'Attack': 4.830000209644296e-06,
 'Defense': 0.0015120116355945693,
 'Sp. Atk': 5.47430223104295e-06,
 'Sp. Def': 8.676968938592803e-06,
 'Speed': 1.7416794331273e-05,
 'Total': 1.0658309595715512e-09}

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [ ]:
# Your comment here
#This is a two-sided test for the null hypothesis that 2 independent samples have identical average (expected) values.
#H0: u1 = u2
#H1: u1 != u2
#We can reject the H0 with a 99% confidence
#Legendary pokemons actually have significantly different stats on each feature when comparing to non-Legendary pokemons

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [29]:
# Your code here
t_test_features('Generation', 1, 2)

{'HP': 0.7421234155066005,
 'Attack': 0.22755548417139956,
 'Defense': 0.9271280347559443,
 'Sp. Atk': 0.2146426348248469,
 'Sp. Def': 0.9775143670981817,
 'Speed': 0.06678893935760728,
 'Total': 0.8100338346717498}

#### What conclusions can you make?

In [ ]:
# Your comment here
#H0: u1 = u2
#H1: u1 != u2
#We can not reject the H0 with a 95% confidence
#Generation 1 pokemons actually have not significantly different stats on each feature when comparing to Generation 2 pokemons

#### Compare pokemons who have single type vs those having two types.

In [30]:
# Your code here
t_test_features('Types', 1, 2)

{'HP': 0.3034940243520864,
 'Attack': 0.1562711260382025,
 'Defense': 0.8204683357231466,
 'Sp. Atk': 0.7192351483355288,
 'Sp. Def': 0.10156045140134275,
 'Speed': 0.19989708629296496,
 'Total': 0.14520769130327407}

#### What conclusions can you make?

In [ ]:
# Your comment here
#H0: u1 = u2
#H1: u1 != u2
#We can not reject the H0 with a 99% confidence
#Single type pokemons actually have not significantly different stats on each feature when comparing to thos who have 2 types

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [12]:
# Your code here
display(st.ttest_rel(pokemon['Attack'], pokemon['Defense']))
st.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

#### What conclusions can you make?

In [ ]:
# Your comment here
#H0: u1 = u2
#H1: u1 != u2
#We can reject the H0 with a 99# confidence
#Which means that Attack and Defense for each pokemon have significantly different stats
#--------------------------------Q2----------------------
#H0: u1 = u2
#H1: u1 != u2
#We can not reject the H0 with a 99% confidence
#Which means that Sp. Attack and Sp Defense for each pokemon have not significantly different stats